body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    font-family: Georgia, serif;
}

ol {
    font-family: Helvetica, Arial, sans-serif;
}

.artist {
    border: 1px solid red;
}

.spotlight {
    padding: 10px;
    border: 3px dotted yellow;
    width: 300px;
    text-align: center;
}
